region = ""
zone = ""
vpc_cidr = ""
public_subnet_cidr = ""
private_subnet_cidr = ""
vpc_name = ""
instance_type = ""
db_name = ""
db_username = ""
db_password = ""
dev_bucket_name = ""
staging_bucket_name = ""
prod_domain = ""
staging_domain = ""